﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Story 6</title>
</head>
<body style = "background-color : green">
<h1 style = "text-align : center; font-family:verdana;">Selamat datang, nama saya adalah Mochamad Naufal Dzulfikar</h1>
<h3 style = "font-family:verdana;">Silahkan isi status Anda</h3>
<form method = "POST" action = "add_activity">
{% csrf_token %}
Nama:<br>
<input type = "text" name = "nama" id = "nama" size = "20" required = "required"/><br>
Status:<br>
<input type="text" name="status" id="status" size="40"/><br>
<button type="submit" class="button btn-success" id = "submit">Submit</button>
</form>
<table align ="center" style = "text-align:center">
	<tr>
		<th>Tanggal</th>
		<th>Nama</th>
		<th>Status</th>
	</tr>
	{% for diary_data in diary_dict %}
	<tr>
		<td class="date">{{ diary_data.date }}</td>
		<td class="nama">{{ diary_data.nama }}</td>
		<td class = "status">{{diary_data.status}}</td>
	</tr>
            {% endfor %}
</table>
</body>
</html>